{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'pal4/style.css' %}" />
<table border cellspacing=1 cellpadding=3>
    <caption>道具基本信息及购买查询-----主分类：{{ p_type }}，子类：{{ sub_type }}</caption>
<tr>
  <th>ID</th>
  <th>名称</th>
  <th>用途说明</th>
  <th>价格</th>
  <th>可购买场景</th>
</tr>
{% for property in object_list %}
<tr>
  <td>{{ property.id }}</td>
  <td>{{ property.pa_name }}</td>
  <td>{{ property.pa_property }}</td>
  <td>{{ property.pa_price }}</td>
  <td>{{ property.shopscene }}</td>
</tr>
{% endfor %}
</table>
    


