{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}" />
<meta charset="UTF-8">
<head><title>配方基本信息及购买场景查询</title>
</head>
<h3 align=center>配方基本信息及购买场景查询</h3>
<body>
综述：部分配方通过购买获得，其余则要完成部分委托任务<br /><br />
熔铸图谱<br />
武器类
<ul>
	<li><a href="{% url 'pal4:buy_prescription' 'zz_wt' %}">剑</a></li>
	<li><a href="{% url 'pal4:buy_prescription' 'zz_wl' %}">双剑</a></li>
	<li><a href="{% url 'pal4:buy_prescription' 'zz_wm' %}">琴</a></li>
</ul>
--------------------<br />
防具类
<ul>
    <li><a href="{% url 'pal4:buy_prescription' 'zz_m' %}">头部防具</a></li>
    <li><a href="{% url 'pal4:buy_prescription' 'zz_y' %}">身体防具</a></li>
    <li><a href="{% url 'pal4:buy_prescription' 'zz_x' %}">足部防具</a></li>
</ul>
<p>-----------------------------------</p>
锻冶图谱<br />
<ul>
	<li><a href="{% url 'pal4:buy_prescription' 'zz02' %}">锻冶</a></li>
</ul>
<p>-----------------------------------</p>
注灵图谱<br />
<ul>
	<li><a href="{% url 'pal4:buy_prescription' 'zz03' %}">注灵</a></li>
</ul>
</body>
