{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'pal4/style.css' %}" />
<table border cellspacing=1 cellpadding=3>
<caption>{{ equip_type }}基本属性及购买场景表</caption>
<tr>
  <th>ID</th>
  <th>名称</th>
  <th>适用角色</th>
  <th>要求等级</th>
  <th>价格</th>
  <th>属性</th>
  <th>可购买场景</th>
</tr>
{% for equip in object_list %}
<tr>
  <td>{{ equip.id }}</td>
  <td>{{ equip.name }}</td>
  <td>{{ equip.role_can_use }}</td>
  <td>{{ equip.require_lv_lmt }}</td>
  <td>{{ equip.price }}</td>
  <td>{{ equip.attribute }}</td>
  <td>{{ equip.shopscene }}</td>
</tr>
{% endfor %}
</table>
    


