{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}" />

{% if object_list %}
	<table border cellspacing=1 cellpadding=3>
	  <caption>符合条件的交易记录列表</caption>
	  <tr>
	    <th>成交日期</th>
	    <th>股票代码</th>
	    <th>股票名称</th>
	  </tr>
	{% for deal in object_list %}
	  <tr>
	    <td>{{ deal.deal_date }}</td>
	    <td>{{ deal.stock_code }}</td>
	    <td>{{ deal.stock_name }}</td>
	  </tr>
	{% endfor %}
	</table>
{% else %}
    <p>没有符合条件的交易记录</p>
{% endif %}
