{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'pal4/style.css' %}" />
<table border cellspacing=1 cellpadding=3>
<caption>技能及额外属性追加</caption>
<tr>
  <th>敌人ID</th>
  <th>敌人名称</th>
  <th>技能1</th>
  <th>技能2</th>
  <th>技能3</th>
  <th>技能4</th>
  <th>技能5</th>
  <th>技能6</th>
  <th>物理伤害追加</th>
  <th>爆击率追加</th>
  <th>格挡率</th>
  <th>命中率追加</th>
  <th>反击率追加</th>
</tr>
{% for monster in object_list %}
<tr>
  <td>{{ monster.monster_id }}</td>
  <td>{{ monster.ma_name }}</td>
  <td>{{ monster.ma_skill_1 }}</td>
  <td>{{ monster.ma_skill_2 }}</td>
  <td>{{ monster.ma_skill_3 }}</td>
  <td>{{ monster.ma_skill_4 }}</td>
  <td>{{ monster.ma_skill_5 }}</td>
  <td>{{ monster.ma_skill_6 }}</td>
  <td>{{ monster.ca_attack_physical_additional }}</td>
  <td>{{ monster.ca_additional_critical_p }}</td>
  <td>{{ monster.ca_fend_off_p }}</td>
  <td>{{ monster.ca_additional_hitting_p }}</td>
  <td>{{ monster.ca_counterpunch_rate_p }}</td>
</tr>
{% endfor %}
</table>
    


