{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'pal4/style.css' %}" />
<table border cellspacing=1 cellpadding=3>
<caption>五基本属性及五灵属性</caption>
<tr>
  <th>敌人ID</th>
  <th>敌人名称</th>
  <th>武</th>
  <th>防</th>
  <th>速</th>
  <th>运</th>
  <th>灵</th>
  <th>水</th>
  <th>火</th>
  <th>雷</th>
  <th>风</th>
  <th>土</th>
</tr>
{% for monster in object_list %}
<tr>
  <td>{{ monster.monster_id }}</td>
  <td>{{ monster.ma_name }}</td>
  <td>{{ monster.ca_physical }}</td>
  <td>{{ monster.ca_toughness }}</td>
  <td>{{ monster.ca_speed }}</td>
  <td>{{ monster.ca_lucky }}</td>
  <td>{{ monster.ca_will }}</td>
  <td>{{ monster.efe_water }}</td>
  <td>{{ monster.efe_fire }}</td>
  <td>{{ monster.efe_thunder }}</td>
  <td>{{ monster.efe_air }}</td>
  <td>{{ monster.efe_earth }}</td>
</tr>
{% endfor %}
</table>
    


