{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'pal4/style.css' %}" />

{% if prop %}
	<table border cellspacing=1 cellpadding=3>
	  <caption>道具基本信息</caption>
	  <tr>
	    <th>道具ID</th>
	    <th>道具名称</th>
	    <th>道具类型</th>
	    <th>道具价格</th>
	  </tr>
	  <tr>
	    <td>{{ prop.id }}</td>
	    <td>{{ prop.pa_name }}</td>
	    <td>{{ prop.type_name }}</td>
	    <td>{{ prop.pa_price }}</td>
	  </tr>
	</table>
    {% if shops %}
        <table border cellspacing=1 cellpadding=3>
          <caption>店铺购买途径详情</caption>
          <tr>
            <th>店铺所在户外区域</th>
            <th>店铺类型</th>
            <th>店铺名称</th>
            <th>所需完成的任务名称</th>
          </tr>
        {% for shop in shops %}
          <tr>
            <td>{{ shop.container }}</td>
            <td>{{ shop.type_name }}</td>
            <td>{{ shop.shop_name }}</td>
            <td>{{ shop.quest_name }}</td>
          </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>无法从店铺购得该道具</p>
    {% endif %}

    {% if drops %}
        <table border cellspacing=1 cellpadding=3>
          <caption>掉落该道具的敌人信息</caption>
          <tr>
            <th>敌人ID</th>
            <th>敌人名称</th>
            <th>是否BOSS</th>
          </tr>
        {% for drop in drops %}
          <tr>
            <td>{{ drop.monster_id }}</td>
            <td>{{ drop.ma_name }}</td>
        {% if  drop.is_boss %}
            <td>是</td>
        {% else %}
            <td>否</td>
        {% endif %}
          </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>没有敌人能掉落该道具</p>
    {% endif %}

    {% if steals %}
        <table border cellspacing=1 cellpadding=3>
          <caption>能偷窃到该道具的敌人信息</caption>
          <tr>
            <th>敌人ID</th>
            <th>敌人名称</th>
            <th>是否BOSS</th>
          </tr>
        {% for steal in steals %}
          <tr>
            <td>{{ steal.monster_id }}</td>
            <td>{{ steal.ma_name }}</td>
        {% if  steal.is_boss %}
            <td>是</td>
        {% else %}
            <td>否</td>
        {% endif %}
          </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>无法从敌人处偷窃到该道具</p>
    {% endif %}

    {% if picks %}
        <table border cellspacing=1 cellpadding=3>
          <caption>场景内拾取该道具的信息</caption>
          <tr>
            <th>场景名称</th>
            <th>物品编号</th>
            <th>模型路径</th>
            <th>模型编号</th>
            <th>贴图编号</th>
            <th>位置坐标X</th>
            <th>位置坐标Y</th>
            <th>位置坐标Z</th>
          </tr>
        {% for pick in picks %}
          <tr>
            <td>{{ pick.section_name }}</td>
            <td>{{ pick.si_id }}</td>
            <td>{{ pick.si_model_path }}</td>
            <td>{{ pick.si_model }}</td>
            <td>{{ pick.si_texture }}</td>
            <td>{{ pick.si_coor_x }}</td>
            <td>{{ pick.si_coor_y }}</td>
            <td>{{ pick.si_coor_z }}</td>
          </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>无法从任何场景中拾取该道具</p>
    {% endif %}

{% else %}
    <p>道具不存在</p>
{% endif %}


