{% load staticfiles %}
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="{% static 'pal4/style.css' %}" />

<h3>场景名称： {{ scene_name }}</h3>
<h3>场景类型： {{ scene_type }}</h3>
{% if scene_item_list %}
    <table border cellspacing=1 cellpadding=3>
      <caption>指定场景物品信息表</caption>
      <tr>
        <th>室外区块名称</th>
        <th>区块名称</th>
        <th>物品编号</th>
        <th>物品外观类型</th>
        <th>物品坐标</th>
        <th>物品详细信息</th>
      </tr>
    {% for si in scene_item_list %}
      <tr>
        <td>{{ si.container }}</td>
        <td>{{ si.section_name }}</td>
        <td>{{ si.si_id }}</td>
        <td>{{ si.appearance }}</td>
        <td>{{ si.coordinate }}</td>
        <td>{{ si.details }}</td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>该场景没有任何物品</p>
{% endif %}
