{% load staticfiles %}
<meta charset='utf-8'>
<table border cellspacing=1 cellpadding=3>
    <caption>持仓股票分析</caption>
    <tr>
        <th>股票代码</th>
        <th>股票名称</th>
        <th>首次交易日期</th>
        <th>最近交易日期</th>
        <th>持股天数</th>
        <th>持仓量</th>
        <th>持仓总成本</th>
        <th>每股成本</th>
        <th>最高持仓量</th>
        <th>最高持仓最新变动日期</th>
        <th>总买卖次数</th>
        <th>周买卖频率</th>
    </tr>
    {% for deal in object_list %}
    <tr>
        <td>{{ deal.stock_code }}</td>
        <td>{{ deal.stock_name }}</td>
        <td>{{ deal.first_deal_day }}</td>
        <td>{{ deal.recent_deal_day }}</td>
        <td>{{ deal.hold_days }}</td>
        <td>{{ deal.balance }}</td>
        <td>{{ deal.cost }}</td>
        <td>{{ deal.avg_cost }}</td>
        <td>{{ deal.max_balance }}</td>
        <td>{{ deal.max_balance_day }}</td>
        <td>{{ deal.transaction_count }}</td>
        <td>{{ deal.transaction_freq }}</td>
    </tr>
    {% endfor %}
</table>
